@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

body {
  font-family: 'Source Serif Pro', serif;
  padding: 36px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

div.login-holder {
  text-align: center;
  background-color: rgb(0, 35, 70);
  border-radius: 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 120px auto 10em;
  padding: 50px;
  width: 30em;
}

Form.Label.form-label {
  background-color: #fff;
}

h1.login-title {
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}

h2.login-subtitle {
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}